// Post.module.scss
.container {
  max-width: 1000px;
  margin: 50px auto; //요소와 주변 요소 사이의 거리를 조정. 상하, 좌우
  padding: 20px; //요소의 내용(content)과 테두리(border) 사이의 거리를 조정. 상하좌우
  //background-color: #f9f9f9;
  //background-color: gray;
  //border-radius: 8px;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.board {
  padding-left: 10px;
  //padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.title {
  color: #333;
  background-color: #f9f9f9;
  height: 45px;
  border-top: 1px solid lightgray; /* 상단 테두리 적용 */
  border-bottom: 1px solid lightgray; /* 하단 테두리 적용 */
  display: flex;
  align-items: center;
  padding-left: 10px; /* 텍스트를 왼쪽에서 20px 띄움 */
  font-size: 16px;
  font-weight: bold;
}

.info {
  color: #333;
  height: 45px;
  border-bottom: 1px solid lightgray; /* 하단 테두리 적용 */
  display: flex;
  align-items: center;
  padding-left: 10px; /* 텍스트를 왼쪽에서 20px 띄움 */
  padding-right: 10px; /* 텍스트를 오른쪽에서 20px 띄움 */
  font-size: 14px;
  //background-color: red;
}

.left {
  margin-right: auto; /* 왼쪽 정렬을 위해 */
}

// .right {
//   /* 필요하다면 여기에 추가 스타일을 적용할 수 있습니다 */
// }

.content {
  font-size: 16px;
  padding-left: 15px;
  height: auto;
  //border-top: 1px solid lightgray; /* 상단 테두리 적용 */
  //border-bottom: 1px solid lightgray; /* 하단 테두리 적용 */
  //color: #666;
}

.footer {
  margin-top: 20px;
  text-align: right;
  color: #999;
}